:root{
    /*Header0*/
    --head0-background: #F4F1BB;
    --head0-font-color: #000102;
    --head0-font-family: 'Montserrat', Arial;
    --head0-font-size: 1.0em;
    
    /*Main1*/
    --main1-background: #F4F1BB;
    --main1-font-color: #8ecae6;
    --main1-font-family: 'Open Sans', Arial;
    --main1-font-size: 1.9em;
    
    /*Main2 --*/ 
    --main2-background: #ed6a5a;
    --main2-font-color: #8ecae6;
    --main2-font-family: 'Open Sans', Arial;
    --main2-font-size: 1.6em;
    
    /*Main3 -- */
    --main3-background: #ed6a5a;
    --main3-font-color: #8ecae6;
    --main3-font-family: 'Open Sans', Arial;
    --main3-font-size: 1.6em;

    /*Main4*/
    --main4-background: #000000;
    --main4-font-color: #8ecae6;
    --main4-font-family: 'Open Sans', Arial;
    --main4-font-size: 1.6em;

    --main4-background-button4: #f5f09c;
    --main4-font-color-button4: #fdfdfd;


    --main4-background-button4-1: #f04f3a;
    --main4-font-color-button4-1: #ffffff;

    
    /*Main5--*/
    --main5-background: #ed6a5a;
    --main5-font-color: #8ecae6;
    --main5-font-family: 'Open Sans', Arial;
    --main5-font-size: 1.6em;

    --main5-background-button5: #ffffff;
    --main5-font-color-button4: #000000;


    --main5-background-button5-1: #f04f3a;
    --main5-font-color-button5-1: #000000;

    /*Main6*/
    --main6-background: #f4f1bb;
    --main6-font-color: #000000;
    --main6-font-family: 'Open Sans', Arial;
    --main6-font-size: 1.6em;

    /*Foo7--*/
    --foo7-background: #ed6a5a;
    --foo7-font-color: #8ecae6;
    --foo7-font-family: 'Open Sans', Arial;
    --foo7-font-size: 1.6em;

  }
  
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.head0 {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: var(--head0-background);
    font-size: var(--head0-font-size);

}

.logo0 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;

}

.logo0 h2 {
    font-size: 1.2em;

}

.logo0 img {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    position: relative;
    top: -7px;
}


/*definida as proporções*/


@media screen and (min-width: 431px) {
    #toggle0,
    #toggle0-btn {
        display: none; 
    }

}
/*menu toggle - para mobile/tablet*/
.toggle0-btn {
    color: #000000;
    cursor: pointer;
    margin: 0 20px 0 0;
    position: absolute;
    right: 10px;
}

.nav0 {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;


}
.nav0 ul {
    display: flex;
    list-style: none;

}

.nav0 ul li {
    margin-right: 10px;
}

.nav0 ul li a {
    text-decoration: none;

    font-size: 1.15em;
    color: var(--head0-font-color);
}

/*[final 1 - Desktop]*/
.main1 {
    display: flex;
    justify-content: space-between;
    background: var(--main1-background);
    margin: 0 30px;
    max-width: 100%; /*base - safonar*/

}

.imag1 img {
    width: 350px;
    height: 350px;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 20px;
}

.text1 h2 {
    position: relative;
    top: 30px;

    font-family: var(--main1-font-family);
    font-size: var(--main1-font-size);
}

@media screen and (min-width: 431px) {
    .text1 p {
        display: none; 
    }
}

.text1 button {
    position: relative;
    top: 30px;
    width: 30%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    justify-content: center;

    background-color: #e9412b;
    font-size: 20px;
}

.rede1 {
    display: flex;
    position: relative;
    top: 70px;
    position: relative;
    right: -20px;
}

.rede1 section {
    margin-right: 10px;
}

.rede1 section:last-child {
    margin-right: 0;
}

.rede12 {
    width: 30px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
}

.rede12 a img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}


.imag1 {
    padding: 0;
    margin: 20px;

}

/*[final 2 - Desktop]*/
.main2 {
    margin: 0 30px;
    max-width: 100%; /*base - safonar*/
    padding: 0;

}

.text2 {
    padding-top: 50px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.text2 h2 {
    justify-content: justify;
    font-size: 2.2em;
}

.roll2 {
    padding-bottom: 50px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.roll2 section {
    width: 200px;
    height: 200px;
    box-shadow: 0px 2px 1.2px;  

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roll2 section img {
    width: 50px;
    height: 50px;
}

.imagem21{
    border-bottom-left-radius: 10px;

}

.imagem23 {
    border-bottom-right-radius: 10px;
}

.roll2 button {
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.roll2 button img {
    width: 20px;
    height: 15px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;

}

#button2 {
    background-color: #f04f3a;
    width: 10em;
    max-width: 5%;
    
}

#button2-1 {
    background-color: #ffffff;
    width: 10em;
    max-width: 5%;
    border: 2px solid #f04f3a;
}
/*[final 3 - Desktop]*/
.main3 {
    margin: 0 30px;
    display: flex;
    justify-content: space-around;

}

.img3 {
    padding: 50px 0;
    max-width: 50%;
    justify-content: center;
    text-align: center;

}

.img3 img {
    max-width: 300px;
    max-height: 300px;
}

.text3 {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    max-width: 50%;


}

.text3 p {
    max-width: 400px;
    position: relative;
    top: -30px;

    font-size: 0.93em;
    
}

.text3 section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #000000;
    max-width: 50%;
    border-radius: 50px;
    position: relative;
    top: -30px;
    padding: 0;
    height: 35px;
}

.text3 section h3 {
    font-size: 1.2em;
    margin-right: 10px;

    color:#fffffa;
}

.text3 section button {
    padding: 3px 6px;
    margin-right: 0px;
    border-radius: 50px;
    background-color: #f04f3a;
    border: none;
    
}

.text3 section button img {
    width: 25px;
    height: 15px;
    position: relative;
    top: 1px;
}

/*[final 4 - Desktop]*/

.main4 {
    margin: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px;
    max-height: 250px;
    background: var(--main4-background);

}

.text4 {
    padding: 50px 0;
    justify-content: center;
    text-align: center;
}

.text4 img {
    max-width: 150px;
    max-height: 150px;
}

.img4 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    max-width: 30%;

}

.img4 h2 {
    color: #ffffff;
    text-align: center;

}

.img4 section {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    /*padding: 5px 15px;*/
    border-radius: 30px;
    text-align: center;
}

#but4 {
    border: none;
    padding: 4px 35px;
    max-width: 300px;
    margin-right: 10px; 
    
    font-weight: 200;
    color: var(--main4-font-color-button4);
    background-color: var(--main4-background-button4);


}

#but4-1 {
    border: none;
    padding: 4px 20px;
    max-width: 300px;
    margin-right: 0px;

    background-color: var(--main4-background-button4-1);
    color: var(--main4-font-color-button4-1);
}

/*[final 5 - Desktop]*/

.main5 {
    margin: 50px 30px;
    display: flex;
    justify-content: center;
    
    
}

.img5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /*sem sanfonar*/

    padding: 20px 0;
    margin-bottom: 20px;
    
}

.img5 img {
    max-width: 150px;
    max-height: 150px;

}

.text5 {
    display: flex;
    flex-direction: column;
    width: 50%; /*sem sanfonar*/
    align-items: flex-end;
    
}

.frase5 {
    width: 80%;
    text-align: right;
}

.frase5 h2 {
    margin: 7px 0;
    font-size: 3.5em;
    text-align: justify;
}

.frase5 p {
    margin: 0;
    font-size: 1.1em;
    text-align: justify;
}

.perfil5 {
    display: flex;
    align-items: center;
    width: 80%; /*sem sanfonar*/
    margin-top: 1.3em;

}

.perfil5 img {
    width: 80px;
    height: 80px;

}

.text5-1 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 80%;


    margin-left: 10px;
}

.text5-1 h4 {
    margin: 0;
    text-align: justify;

}

.text5-1 p {
    margin: 0;
    font-size: 0.9em;
    margin-top: 5px;
    text-align: justify;

}

.button5 {
    display: flex;

}

.button5 button {
    margin-right: 30px;
    margin-top: 10px;
    width: 40px;
    height: 40px;

    border-radius: 20px;
    border: none;
    box-shadow: 0px 1px 5px;
    
}

.button5 button:last-child{
    margin-right: 0;
}

#but5{
    background: var(--main5-background-button5);
    color: var(--main5-font-color-button5-1);

}

#but5-1{
    background: var(--main5-background-button5-1);
    color: var(--main5-font-color-button5-1);
}

#but5 img {
    height: 25px;
    width: 25px;
    position: relative;
    top: 2px;
}

#but5-1 img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 2px;
}

/*[final 6 - Desktop]*/

.main6 {
    margin: 50px 30px;
    display: flex;
    justify-content: space-around;

    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px;   
    background: var(--main6-background);
}

.img6 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.img6 section {
    border: 1px solid red;
    margin-right: 10px;
    border-radius: 20px;
    width: 150px;
    height: 300px;

}

.img6 section:first-child{
    position: relative;
    bottom: 50px;
}

.img6 section:last-child{
    position: relative;
    top: 50px;
}


.text6 {
    width: 50%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.frase6 {
    width: 50%;
    margin: 0 auto;
}



.button6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button6 a {
    margin-right: 10px;
}

.button6 a:last-child {
    margin-right: 0;
}

#google6 {
    width: 100px;
    height: 40px;
}

#apple6 {
    width: 100px;
    height: 60px;
}

/*[final 7 - Desktop]*/

.foo7 {
    margin: 0 30px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.text7 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 40px;
}

.text7 h4{
    margin: 5px 0;
}

.text7 p {
    margin: 0;
    padding: 2px 0;
    font-size: 0.9em;
}


.text7 p:last-child{
    font-weight: bold;
}


.img7 {
    width: 40%;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -20px;

}

.texto7 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto7 h4 {
    margin-right: 5px;
}


.fundo7 {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo7 a img {
    width: 25px;
    height: 25px;
}

.imagem7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem7 img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.imagem7 img:last-child{
    margin-right: 0;
}

/*Responsividade - Mobile*/

@media screen and (max-width: 430px) {

    /*Atualizar Live Server para atualizar
    as medições*/

    /*[final0 - Mobile] - [ADD LIST MENU]*/
    header {
        background: var(--head0-background);

    }

    .head0 {
        max-width: 100%; /*sanfonar*/

        border-radius: 0%;
        margin: 0 auto;
        display: flex;


    }   
    
    .logo0{
        width: 50%;

    }

    .logo0 h2{
        font-size: 1.2em;

    }
    
    .nav0{
        width: 50%;

        display: none;

    }
   
    .nav0 ul {
        display: flex;
    }

    .nav0 ul li {
        display: block;
        text-align: center;
    }

    .nav0 ul li a {
        text-decoration: none;
    }


    .nav0 ul li {
        display: block;
        text-align: center;
    }
    

    /*[final1 - Mobile] - [ADD IMAGE]*/
   
    .main1 {
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .text1 {
        max-width: 100%;

        justify-content: center;
        align-items: center;
    }

    .text1 h2 {
        justify-content: justify;
        align-items: center;
        text-align: center;
        font-size: 1.6em;

        position: relative;
        top: -25px;
        
    }

    .text1 p {
        justify-content: justify;
        align-items: center;
        text-align: center;
        padding: 0 50px;   
        font-size: 0.9em;

        position: relative;
        top: -25px;
        margin: 0;
    }

    .text1 button {
        position: relative;
        top: -1px;
        margin: 0;
        
    }

    .imag1 {
        position: relative;
        top: -4px;
    }


    .rede1 {
        display: none;
    }

    .imag1 {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    .imag1 img{
        width: 200px;
        height: 200px;
    }

    /*[final2 - Mobile]*/

    .main2 {
        max-width: 100%; /*base - safonar*/

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .text2 {
        max-width: 90%;
        margin: 0 auto;
    }

    .text2 h2 {
        font-size: 25px;
        font-family: arial;
    }

    .roll2 {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
     
    .roll2 button {
        padding: 2px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #button2 {
        margin-right: 10px;
    }

    #button2-1 {
        margin-left: 10px;
    }
    
    .roll2 button img {
        width: 40px;
        height: 15px;
    }
    
    .roll2 section {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roll2 section img {
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    .roll2 section h2 {
        font-size: 0.6em;
    }

    .imagem21 {
        margin-right: 10px;
    }

    .imagem23 {
        margin-left: 10px;
    }
    /*[final3 - Mobile]*/

    .main3 {
        max-width: 100%; /*base - safonar*/

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .img3 {
        max-width: 50%;

        display: none;
    }
    
    .text3 {
        max-width: 100%;
        justify-content: center;
        align-items: center;

    }

    .text3 h2 {
        padding: 15px 0;
        font-size: 1.6em;
    }

    .text3 p {
        justify-content: justify;
        font-size: 1.0em;
    }

    .text3 section {
        margin: 10px 0;
        padding: 0 20px;
        max-width: 1000px;       
    }

    .text3 section h3 {
        font-size: 0.9em;
    }


    /*[final4 - Mobile]*/
    .main4 {
        max-width: 100%; /*base - safonar*/

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img4 {
        max-width: 50%;

        display: flex;
        align-items: center;
    }

    .img4 h2 {
        font-size: 20px;
    }


    .text4 {
        max-width: 50%;
        justify-content: center;
        align-items: center;

        position: relative;
        top: 10px;
        left: 5px;
        margin-left: 20px;
    }

    .text4 img {
        max-width: 120px;
        height: 120px;
        
    }

    /*[final5 - Mobile]*/

    .main5 { 
        display: flex;
        align-items: center;
        max-width: 100%; /*base - safonar*/
        margin: 70px 0;
        
    }

    .img5 {
        display: none;
    }

    .text5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100%; /*sem safonar*/
        padding: 0;
    }

    .frase5 {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .frase5 h2 {
        font-size: 2.5em;
        text-align: justify;
    }

    .frase5 p {
        display: none;
    }

    .perfil5 {
        display: flex;
        max-width: 100%;
    }

    .text5-1 {
        font-size: 1.1em;
        
    }
    
    .button5 {
        max-width: 100%;

        margin: 20px 0;
        
    }

    /*[final6 - Mobile]*/

    .main6 {
        max-width: 100%; /*base - safonar*/

        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
    }

    .img6 {
       width: 50%;

    }

    .img6 section {
        max-width: 300px;
        height: 200px;
    }

    .text6 {
        width: 50%;
    }

    .frase6 {
        font-size: 12px;
    }

    .button6 {
        display: flex;
                
    }

    .button6 a {
        padding: 0;
    }

    .button6 a img {
        padding: 5px;
             
    }

    #google6 {
        width: 60px;
        height: 20px;
    }
    
    #apple6 {
        width: 60px;
        height: 30px;
    }

    /*[foo7 - Mobile]*/

    .foo7 {
        max-width: 100%; /*base - safonar*/

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .text7{
        width: 50%;
        font-size: 10px;

        display: flex;
        text-align: left;
    }

    .text7 p {
        padding: 2px 0;
    }

    .img7 {
        width: 50%;

        display: flex;
        justify-content: right;
    }

    .texto7 {
        width: 100%;

        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -25px;
    }

    .texto7 h4{
        font-size: 12px;
        position: relative;
        
    }


    .fundo7 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fundo7 a img {
        width: 13px;
        height: 13px;
        position: relative;
        top: 2px;
    }

    .imagem7 {
        width: 100%;

        display: flex;
        justify-content: right;
        margin-right: 2px;

        position: relative;
        top: -40px;
        right: 10px;

    }

    .imagem7 img{
        max-width: 15px;
        height: 20px;
        
    }

}

