:root{
    /*Header0*/
    --head0-background: #F4F1BB;
    --head0-font-color: #000102;
    --head0-font-family: 'Montserrat', Arial;
    --head0-font-size: 1.0em;
    
    /*Main1*/
    --main1-background: #F4F1BB;
    --main1-font-color: #8ecae6;
    --main1-font-family: 'Open Sans', Arial;
    --main1-font-size: 1.9em;
    
    /*Main2 --*/ 
    --main2-background: #ed6a5a;
    --main2-font-color: #8ecae6;
    --main2-font-family: 'Open Sans', Arial;
    --main2-font-size: 1.6em;
    
    /*Main3 -- */
    --main3-background: #ed6a5a;
    --main3-font-color: #8ecae6;
    --main3-font-family: 'Open Sans', Arial;
    --main3-font-size: 1.6em;

    /*Main4*/
    --main4-background: #000000;
    --main4-font-color: #8ecae6;
    --main4-font-family: 'Open Sans', Arial;
    --main4-font-size: 1.6em;

    --main4-background-button4: #f5f09c;
    --main4-font-color-button4: #fdfdfd;


    --main4-background-button4-1: #f04f3a;
    --main4-font-color-button4-1: #ffffff;

    
    /*Main5--*/
    --main5-background: #ed6a5a;
    --main5-font-color: #8ecae6;
    --main5-font-family: 'Open Sans', Arial;
    --main5-font-size: 1.6em;

    /*Main6*/
    --main6-background: #ed6a5a;
    --main6-font-color: #8ecae6;
    --main6-font-family: 'Open Sans', Arial;
    --main6-font-size: 1.6em;

    /*Foo7--*/
    --foo7-background: #ed6a5a;
    --foo7-font-color: #8ecae6;
    --foo7-font-family: 'Open Sans', Arial;
    --foo7-font-size: 1.6em;

  }
  
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.head0 {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: var(--head0-background);
    font-size: var(--head0-font-size);

}

.logo0 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    font-size: 0.8em;
}

.nav0 {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;

}
.nav0 ul {
    display: flex;
    list-style: none;

}

.nav0 ul li {
    margin-right: 10px;
}

.nav0 ul li a {
    text-decoration: none;

    color: var(--head0-font-color);
}

/*[final 1]*/
.main1 {
    display: flex;
    justify-content: space-between;
    background: var(--main1-background);
    margin: 0 30px;
    max-width: 100%;

}

.imag1 img {
    width: 350px;
    height: 350px;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 20px;
}

.text1 h2 {
    position: relative;
    top: 30px;

    font-family: var(--main1-font-family);
    font-size: var(--main1-font-size);
}

.text1 button {
    position: relative;
    top: 30px;
    width: 30%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    justify-content: center;

    background-color: #e9412b;
    font-size: 20px;
}

.rede1 {
    display: flex;
    position: relative;
    top: 90px;
}

.imag1 {
    padding: 0;
    margin: 20px;

}

/*[final 2]*/
.main2 {
    margin: 0 30px;
    max-width: 100%;
    padding: 0;

}

.text2 {
    padding-top: 50px;
    justify-content: center;
    text-align: center;
}

.text2 h2:last-child{
    position: relative;
    top: -20px;
}

.roll2 {
    padding-bottom: 50px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.roll2 img {
    width: 200px;
    height: 200px;
    box-shadow: 0px 2px 1.2px;
}

#icone2-1 {
    border-bottom-left-radius: 10px;
}

#icone2-2 {
    border-bottom-right-radius: 10px;
}

.roll2 button {
    padding: 10px;
    border-radius: 50px;
    border: none;

}

#button2 {
    background-color: #f04f3a;
    width: 10em;
    max-width: 5%;
}

#button2-1 {
    background-color: #ffffff;
    width: 10em;
    max-width: 5%;
    border: 2px solid #f04f3a;
}
/*[final 3]*/
.main3 {
    margin: 0 30px;
    display: flex;
    justify-content: space-around;

}

.img3 {
    padding: 50px 0;
    max-width: 50%;
    justify-content: center;
    text-align: center;

}

.img3 img {
    max-width: 300px;
    max-height: 300px;
}

.text3 {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    max-width: 50%;


}

.text3 p {
    max-width: 400px;
    position: relative;
    top: -30px;

    font-size: 0.93em;
    
}

.text3 section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #000000;
    max-width: 50%;
    border-radius: 50px;
    position: relative;
    top: -30px;
    padding: 0;
    height: 35px;
}

.text3 section h3 {
    font-size: 1.2em;
    margin-right: 10px;

    color:#fffffa;
}

.text3 section button {
    padding: 5px 1px;
    margin-right: 0px;
    border-radius: 50px;
    background-color: #f04f3a;
    
}


/*[final 4]*/
.main4 {
    margin: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px;
    max-height: 250px;
    border: 1px solid red;
    background: var(--main4-background);

}

.text4 {
    padding: 50px 0;
    justify-content: center;
    text-align: center;
}

.text4 img {
    max-width: 330px;
    max-height: 330px;
}

.img4 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    max-width: 30%;

}

.img4 h2 {
    color: #ffffff;
    text-align: center;

}

.img4 section {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    /*padding: 5px 15px;*/
    border-radius: 30px;
    text-align: center;
}

#but4 {
    border: none;
    padding: 3px 35px;
    max-width: 300px;
    margin-right: 10px; 
    
    font-weight: 200;
    color: var(--main4-font-color-button4);
    background-color: var(--main4-background-button4);


}

#but4-1 {
    border: none;
    padding: 3px 20px;
    max-width: 300px;
    margin-right: 0px;

    background-color: var(--main4-background-button4-1);
    color: var(--main4-font-color-button4-1);
}

/*[final 5]*/
.main5 {
    border: 1px solid red;
    margin: 0 30px;
    display: flex;
    justify-content: space-around;

}

.img5 {
    padding: 20px 0;
    display: flex;

}

.text5 {
    padding: 20px 0;
    justify-content: center;
    
}

.perfil5 {
    display: flex;

}

.perfil5 img {
    border: 1px solid blue;
}

.text5-1 {
    text-align: center;
    border: 1px solid blue;

}


.button5 {
    display: flex;
    justify-content: flex-end;
}

.button5 button {
    margin-right: 10px;
}

.button5 button:last-child{
    margin-right: 0;
}

/*[final 6]*/
.main6 {
    border: 1px solid red;
    margin: 0 30px;
    display: flex;
    justify-content: space-around;

}

.img6 {
    padding: 80px 0;
    display: flex;

}

.text6 {
    padding: 80px 0;
    justify-content: center;
}

.button6 {
    display: flex;
    justify-content: flex-end;
}

/*[final 7]*/

.foo7 {
    border: 1px solid red;
    margin: 0 30px;
    display: flex;
    justify-content: space-around;

}

.text7 {
    padding: 20px 0;
}

.img7 {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.texto7 {
    display: flex;
}






