:root{
    /*Header*/
    --head-background: #f1f1f1;
    --head-font-color: #023047;
    --head-font-family: 'Opens Sans', Arial;
    --head-font-size: 1.0em;
    
    /*Banner*/
    --ban-background: #4b758a;
    --ban-font-color: #8ecae6;
    --ban-font-family: 'Open Sans', Arial;
    --ban-font-size: 1.6em;
    
    /*Conteudo1*/
    --con1-background: #FB8500;
    --con1-font-color: #023047;
    --con1-font-family: 'Roboto', Arial;
    --con1-font-size: 1.3em;
    
    /*Conteudo2*/
    --con2-background: #FFB703;
    --con2-font-color: #8ecae6;
    --con2-font-family: 'Open Sans', Arial;
    --con2-font-size: 0.9em;
    
    /*Footer*/
    --foo-background: #FFB703;
    --foo-font-color: #8ecae6;
    --foo-font-family: 'Roboto', Arial;
    --foo-font-size: 1.4em;
  }
  
  body {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  header { 
    padding-bottom: 0px;

    background: var(--head-background);
    border-bottom: 1px solid var(--head-font-color);
  }
  
  .head {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    color: var(--head-font-color);
    font-size: var(--head-font-size);
    font-family: var(--head-font-family);
  }

  .nav1 {
    justify-content: center;
    margin-top: 8px;
  }

  .nav1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav1 ul li {
    margin-right: 20px;
  }
  
  .nav1 ul li:last-child {
    margin-right: 0;
  }
  
  .nav1 ul li a{
    text-decoration: none;
    color: var(--head-font-color);
  }

  .ban {
    justify-content: center;
    align-items: center;

    background-color: var(--ban-background);
    font-family: var(--ban-font-family);
  }
  
  .ban section {
    padding: 50px 0;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8ecae6;
  }

  .con1 {
    padding: 100px;
    margin-left: 50px;

    background-color: var(--con1-background);
    font-family: var(--con1-font-family);
    font-size: var(--con1-font-size);
  }

  .con2 {
    padding: 50px 0;
    display: flex;
    align-items: center;

    background-color: var(--con2-background);
    font-family: var(--con2-font-family);
    font-size: var(--con2-font-size);
  }

.foo {
  display: flex;
  justify-content: space-around;
}

.nav2 {
  margin: 80px 0;
}

.nav2 ul {
  list-style: none;
}

.nav2 ul li {
  margin-bottom: 15px;
}

.nav2 ul li:last-child {
  margin-bottom: 0;
}

.nav2 ul li a{
  text-decoration: none;
}

form {
  margin: 80px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

}


  